[submodule "libraries/cxxopts"]
	path = libraries/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libraries/magic_enum"]
	path = libraries/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "libraries/replxx"]
	path = libraries/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
