name: Build LSA Whisperer
on:
  workflow_dispatch: # Allows you to manually run the workflow
  push: # Run when code changes
    branches: ['master']
    paths: ['cmake/**', 'include/**', 'libraries/**', 'source/**', 'CMakeList.txt']
  schedule: # Run on first day of every month
    - cron: "0 0 1 * *"
jobs:
  build:
    runs-on: windows-latest
    outputs:
      artifact: lsa-whisperer-${{ steps.ghd.outputs.describe }}
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Prepare the build
      run: cmake .. -A x64 -DCMAKE_SYSTEM_VERSION=10.0.22621.0
      working-directory: builds
    - name: Run the build
      run: cmake --build .
      working-directory: builds
    - name: Generate description for artifact name
      id: ghd
      uses: proudust/gh-describe@v2
    - name: Upload artifact to workflow run
      uses: actions/upload-artifact@v4
      with:
        name: lsa-whisperer-${{ steps.ghd.outputs.describe }}
        path: builds/Debug/**
  upload:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Download artifact from workflow run
      uses: actions/download-artifact@master
      with:
        name: ${{ needs.build.outputs.artifact }}
    - name: Reupload artifact to latest release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: latest
        files: lsa-whisperer-*
        fail_on_unmatched_files: true

